template#kandang-template
	div.container
		div#page-container-wrapper
			div.container-fluid
				h2 Data Isi Kandang Bejan's Chicken
				a(href='hargaform' class='btn btn-success') Update Isi Kandang
				hr
				table(class='table table-bordered table-stripped')
					thead
						tr
							th(rowspan='2' class='text-center') No
							th(rowspan='2' class='text-center') Alamat
							th(colspan='3' class='text-center') Jumlah
						tr
							th(class='text-center') Telur
							th(class='text-center') Ayam
