template#pembeli-template
	div.container
		div#page-container-wrapper
			div.container-fluid
				h2 Data Pembeli Bejan's Chicken
				a(href='hargaform' class='btn btn-success') Tambah Pesanan
				hr
				table(class='table table-bordered table-stripped')
					thead
						tr
							th(rowspan='2' class='text-center') No
							th(rowspan='2' class='text-center') Nama
							th(rowspan='2' class='text-center') Password
							th(rowspan='2' class='text-center') Alamat
							th(rowspan='2' class='text-center') No Telepon