template#penjualan-template
	div.container
		div#page-container-wrapper
			div.container-fluid
				h2 Daftar Harga Bejan's Chicken
				a(href='hargaform' class='btn btn-success') Tambah Pesanan
				hr
				table(class='table table-bordered table-stripped')
					thead
						tr
							th(rowspan='2' class='text-center') No
							th(rowspan='2' class='text-center') Pembeli
							th(rowspan='2' class='text-center') Jumlah
							th(colspan='3' class='text-center') Tanggal
							th(rowspan='2' class='text-center') Harga
							th(rowspan='2' class='text-center') Status
						tr
							th(class='text-center') Pesan
							th(class='text-center') Diterima