template#detailPakan-template
	div.container
		div#page-container-wrapper
			div.container-fluid
				div(clas='row product-detail-2')
					div(class='col-lg-6 col-md-6 col-sm-6 col-xs-12')
						div.wrapper
							div.row
								div.gambar
									img(src='../../img/order1.jpg')
					div(class='col-lg-6 col-md-6 col-sm-6 col-xs-12')
						div.wrapper
							div.row
								div.col-lg-12
									h3 Deskripsi Barang
									div.product-specifications
										p JENIS
										p Deskripsi
										p status
								div(class='col-lg-6 text-left')
									div.product-price
										span HARGA
								div(class='col-lg-6 tex-right')
									button(class='btn btn-primary' type='button' href='detailproduk.pug') More Info
