template#pesanan-template
	div.container
		div#page-container-wrapper
			div.container-fluid
				h2 Daftar Pesanan Anda
				div(class='btn-group btn-group-justified')
					a(class='btn btn-primary' href='#belum-bayar') Belum Dibayar
					a(class='btn btn-primary' href='#kemas') Dikemas
					a(class='btn btn-primary' href='#list-pesanan') Dikirim
					a(class='btn btn-primary' href='#list-pesanan') Selesai
				br
			div(class="list-group" id="belum-bayar")
				a(class="list-group-item") First Item
				a(class="list-group-item") First Item
				a(class="list-group-item") First Item