html
  head
    title Bejan Chicken Farm
    script(src='/js/vue.js')
    script(src='/js/vue-router.js')
    script(src='/js/axios.min.js')
    link(rel="stylesheet", href="/css/login.css")
    link(rel="stylesheet", href="/css/bootstrap.css")
  body
    div#landingApp
      router-view

    include landing.pug
    include login.pug
    include register.pug

    script(src='/js/landing.js')