html
  head
    title= title
    script(src='/js/vue.js')
    script(src='/js/vue-router.js')
  body
    div#landingApp
      router-view
      
    template#landing-template
      div.container
        h1 Ini Landing

    template#login-template
      div.container
        

    script(src='/js/landing.js')