template#landing-template
	div.container
		div.slider
			div.fluid_container
				div(class='camera_wrap camera_azure_skin' id='camera_wrap_1')
					div(src='img/ternak.jpg')
					div(src='img/ayam_potong.jpg')
					div(src='img/ayam_petelur.jpg')
			div.clear
		div.header_bg
			div.wrap
				div.wrapper1
					div.menu
						ul.top-nav
							li(class='active') 
								a(href='index.html') HOME
							li
								a(href='pesan.html') PESAN
							li
								a(href='update.html') PROFIL
							li
								a(href='contact.html') CONTACT
							div.clear
						div.clear
		div.main_bg
			div.wrap
				div.wrapper
					div.main
						div.content
							a(href='index')
								h2 Bejan's Poultry
						div.grids_of_3
							div(class='grid_1_of_3 images_1_of_3')
								img(src='img/order2.jpg')
								div.grids
									h3 Daging
									p Input Pesanan Daging
									div.button
										span
											a(href='login') Beli/Pesan
							div(class='grid_1_of_3 images_1_of_3')
								img(src='img/order3.jpg')
								div.grids
									h3 Telur
									p Input pesanan telur
									div.button
										span
											a(href='#') Beli/Pesan
							div(class='grid_1_of_3 images_1_of_3')
								img(src='img/order1.jpg')
								div.grids
									h3 Ayam
									p lihat detail ayam
									div.button
										span
											a(href='#') More
						div.clear
						div.cols_of_3
							div(class='col_1_of_3 span_1_of_3')
								h2.style Welcome
								div(class='text_s img_style')
									img(src='img/order1.jpg')
							div(class='col_1_of_3 span_1_of_3')
								h2(class='style' margin-bottom='250px')
								div.text_s
									span Login
									p(class='para top') Login ke akun Anda
								div.read_more
									a(class='btn' href='#') Login
							div(class='col_1_of_3 span_1_of_3')
								h2(class='style') Jumlah ayam tersedia
								div.text_s
									div(class='text_img img_style')
										img(src='img/order2.jpg')
									div.text_para
										span Ayam Potong
										p.para Anakan: 25 Ekor
										p.para Siap Panen 300 Ekor
										p.para Belum Siap Panen 200 Ekor
									div.clear
									div.text_s
										div(class='text_img img_style')
											img(src='img/order3.jpg')
										div.text_para
											span Ayam Potong
											p.para Anakan: 25 Ekor
											p.para Siap Panen 300 Ekor
											p.para Belum Siap Panen 200 Ekor
									div.clear
							div.clear
					div.clear
div.footer_bg
	div.wrap
		div.wrapper
			div.footer
			div.clear
				h2.style
					a(href='index') Bejan's Poultry
			div.copy
				p.w3-link © All Rights Reserved | Design by&nbsp;
					a(href='#') W3 Layouts
	div.clear